.ace_editor {
  border: 1px solid var(--rd-color-divider);
  height: 100%;
  margin-bottom: 10px;

  &.ace_autocomplete .ace_completion-highlight {
    text-shadow: none !important;
    background: rgba(250, 204, 21, 0.4);
    font-weight: 600;
  }

  &.ace-tm {
    .ace_gutter {
      background: var(--rd-color-surface-alt) !important;
    }

    .ace_gutter-active-line {
      background-color: var(--rd-color-surface-hover) !important;
    }

    .ace_marker-layer .ace_active-line {
      background: var(--rd-color-surface-hover) !important;
    }
  }
}
