.alert-destinations-manage-link {
  font-size: var(--rd-font-size-sm);
  color: var(--rd-color-text-secondary);

  .anticon {
    margin-left: 4px;
    font-size: 11px;
  }
}

.alert-edit-help {
  font-size: var(--rd-font-size-sm);
  color: var(--rd-color-text-secondary);
}

// allow form item labels to gracefully break line
.alert-form-item label {
  white-space: initial;
  padding-right: 8px;
  line-height: 21px;

  &::after {
    margin-right: 0 !important;
  }
}
