.public-dashboard-page {
  width: 100%;

  > .container {
    min-height: calc(100% - 95px);
  }

  .page-header-wrapper {
    margin-top: 0;
  }

  .loading-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer {
    height: 95px;
    text-align: center;
  }
}
