.word-cloud-visualization-container {
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .query-fixed-layout .query-visualization-tabs & {
    height: 100%;
    min-height: 300px;
  }

  svg {
    transform-origin: center center;
    flex: 0 0 auto;
  }
}
