@import (reference, less) "~@/assets/less/inc/variables";

.model-page {
  .container {
    h3 {
      color: var(--text-color);
    }
    h4 {
      color: var(--text-color);
    }
    .ant-input {
      background-color: var(--navbar-submenu-hover-color);
      color: var(--text-color);
      border-color: var(--border-color);
    }

    .bg-white.tiled.p-20 {
      .ant-row {
        .ant-col-xs-24.ant-col-md-8 {
          h4 {
            color: var(--text-color);
          }
        }
      }
    }
  }
}

.models-versions-page {
  .container {
    h3 {
      color: var(--text-color);
    }
    h4 {
      color: var(--text-color);
    }
    .ant-input {
      background-color: var(--navbar-submenu-hover-color);
      color: var(--text-color);
      border-color: var(--border-color);
    }

    .bg-white.tiled.p-20 {
      .ant-row {
        .ant-col-xs-24.ant-col-md-8 {
          h4 {
            color: var(--text-color);
          }
        }
      }
    }
  }
}

.ant-slider {
  width: 100%; /* or set a specific width */
}

.ant-slider-mark-text {
  white-space: nowrap;
}
